<div class="sidebar-main">
  <div class="sidebar">
    <ul class="menu">
      <li class="menu-item" routerLink="/employee-list">Employee List</li>
      <li class="menu-item" routerLink="/performance-reviews" >Performance Reviews</li>
      <li class="menu-item" routerLink="/department-overview">Department Overview</li>
    </ul>
    
    <div class="help-section">
      <p>Need help?</p>
      <button class="btn-upgrade">Upgrade to Pro</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div> 